* {
  margin: 0;
  padding: 0;
  font-family: 'alibaba';
}

:root {
  --primary-text: #4a4a4a;
  --primary-blue: #42cdf6;
  --primary-yellow: #ffc401;
  --primary-bg-color: #fff;
  --shadow: rgba(0, 0, 0, 0.1) 0 4px 8px 0;
}

@font-face {
  font-family: 'alibaba';
  src: url('../src/assets/fonts/AlibabaPuHuiTi-3-85-Bold/AlibabaPuHuiTi-3-85-Bold.eot');
  src: url('../src/assets/fonts/AlibabaPuHuiTi-3-85-Bold/AlibabaPuHuiTi-3-85-Bold.otf');
  src: url('../src/assets/fonts/AlibabaPuHuiTi-3-85-Bold/AlibabaPuHuiTi-3-85-Bold.ttf');
  src: url('../src/assets/fonts/AlibabaPuHuiTi-3-85-Bold/AlibabaPuHuiTi-3-85-Bold.woff');
  src: url('../src/assets/fonts/AlibabaPuHuiTi-3-85-Bold/AlibabaPuHuiTi-3-85-Bold.woff2');
  font-display: swap;
}